html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	-webkit-text-size-adjust: none;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
html {
	cursor: url(images/cursor.ico),auto;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
	text-decoration: none;
}
a:hover {
	color: #ff5f3e;
}

/* = Global
----------------------------------------------- */
.clear-fix {
	clear: left;
}

/* = Structure
----------------------------------------------- */
body {
	color: #48414a;
	font: 14px/1.5 "Microsoft YaHei",Tahoma, Verdana, Arial;
	margin: 0;
	overflow-x: hidden;
	background-color: #f4f4f4;
}
/* Firefox */ 
::-moz-selection {
	background: #6abd78; 
	color: #ffffff; 
}
/* Opera,Safari,Chrome */
::selection {
	background: #6abd78; 
	color: #ffffff; 
}                  
#nav {
	width: 200px;
	color: #606566;
	position: fixed;
	top: 30px;
	left: 60px;
	z-index: 0;
	padding-bottom: 36px;
}
#content {
	min-height: 800px;
	display: inline-block;
	margin-left: 325px;
	padding: 30px 0;
}
#footer {
	zoom:1;
	overflow: hidden;
	font-size: 12px;
	background: #fff;
	border-top: 3px solid #cccccc;
}

/* = 自适应分辨率 
----------------------------------------------- */
@media screen and (min-width: 905px) {
	#login {
		right: auto !important;
		left: 875px !important;
	}
}
@media screen and (min-width: 1205px) {
	#login {
		left: 1175px !important;
	}
}
@media screen and (min-width: 1505px) {
	#login {
		left: 1475px !important;
	}
}
@media screen and (max-width: 1265px) {
	.back-to-top {
		right: 8px !important;
	}
}
@media screen and (max-width: 1205px) {
	.back-to-top {
		right: 15px !important;
	}
}



/* = Nav Header
----------------------------------------------- */
.logo {
	width: 100%;
	height: 100px;
	text-align: center;
	overflow: hidden;
	border-bottom: 2px;
	background-color:#f4f4f4;
}
.logo a {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.menu-container {
	padding: 10px 0;
	position: relative;
	background-color: #fff;
}
.menu-container .menu {
	width: 100%;
}
.menu-container .menu-item {
	color: #606566;
	height: 35px;
	width: 100%;
	display: inline-block;
	/*border-top: 1px solid #f8f8f8;*/
}
.menu-container li:first-child {
	border-top: none;
}
.menu-container .cat-item {
	height: auto;
/*	border-top: 1px solid #f8f8f8;*/
}
.menu-container a {
	padding: 8px 0 8px 30px;
	line-height: 15px;
	float: left;
	color: inherit;
	width: 183px;
}
.menu-container .children a {
	font-size: 13px;
	padding-left: 45px;
	width: 152px;
}
.menu-container a:hover, .menu-container .menu-current-item{
	color: #6abd78 !important;
	font-weight: bold;

}
.menu-container .menu-item-span{
	display: block;
	height: 30px;
	width: 100%;
}
.menu-container .menu-item-span:hover, .menu-container .menu-current-item{
	background-color: #e4e4e4 ;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}
.menu-op{
	margin-top: 20px;
	background-color: #fdfdfd !important;
}
.menu-op .search{
	padding: 20px 0 0 20px;
}
.menu-op .op{
	padding: 20px 0 20px 30px;
	display: block;
}
.menu-op .op .rss {
	border-radius: 4px;
	width: 45px;
	height: 35px;
	background-color: #6abd78;
	display: inline-block;
}
.menu-op .op .weibo {
	border-radius:4px;
	margin-left: 20px;
	width: 45px;
	height: 35px;
	background-color: #6abd78;
	display: inline-block;
}

.search-form {
	position: relative;
	display: inline-block;
}
.search-form .search-input {
	width: 134px;
	height: 20px;
	border: 2px solid #6abd78;
	border-radius: 2px;
	padding: 2px 2px 2px 20px;
	color: #606566;
	line-height: 18px;
	background: #fdfdfd url(images/ifxoxo-sprites.png) 5px -100px no-repeat;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}
.search-form .btn-search {
	border: none;
	position: absolute;
	width: 20px;
	height: 20px;
	display: inline-block;
	left: 1px;
	top: 1px;
	cursor: pointer;
	background: none;
}
.search-form .search-input:focus, .search-form:hover .search-input {
	color: #ffffff !important;
	background: #6abd78 url(images/ifxoxo-sprites.png) 5px -118px no-repeat;
}


/* = Content
----------------------------------------------- */
#content .title {
	color: #333;
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 32px;
	/*margin-top: -64px;*/
}
#content .title a {
	color: inherit;
}
#content .articles {
	float: left;
	clear: left;
}
.article-list {
	float: left;
	margin: 0 -20px 0 0;
}
.articles .article-list  li {
	background-color: #fdfdfd !important;
}
.article-list li {
	width: 280px;
	height: 230px;
	margin: 0 20px 40px 0;
	float: left;
	position: relative;
	box-shadow: 0 1px 1px #EEEEEE;
}
.article-list li:hover {
	border: 3px solid #6abd78;
	margin: -3px 17px 37px -3px;
}
.article-list .article-shortcut {
        
	height: 175px;
	width: inherit;
	overflow: hidden;
}

.article-list .article-shortcut .post-link {
	height: inherit;
	width: inherit;
	float: left;
	background-color: #e6e6e6;
	overflow: hidden;
}
.article-list .article-shortcut .wp-post-image {
	max-height: 150px;
	max-width: 280px;
	_height: inherit;
	_width: inherit;
	display: none;
}
.article-list .article-shortcut p {
	padding: 20px 20px 0;
	color: #888;
	font-size: 12px;
	line-height: 22px;
	display: inline-block;
	text-indent: 24px;
}
.article-list .article-shortcut .readmore {
	color: #15ad66;
	text-decoration: underline;
	font-size: 12px;
}
.article-list .article-info{
	background-color: black;
	background-color: rgba(193, 193, 193, 0.7);
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-top: 15px;
}
.article-list .article-info .article-title {
	/*margin: 15px;*/
	padding:0 15px 15px;
	height: 18px;
	overflow: hidden;

}
.article-list .article-info .article-title a {
	color: #48414a;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	width: 200px;
	height: 18px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/*.article-list li:hover .article-title a, .article-list .article-title a:hover {
	color: #FF5F3E;
}*/
.article-list .article-relative {
	/*margin: 0 16px;*/
	color: #999;
	font-size: 11px;
	display: none;
	padding: 0 16px 16px; 
}
.article-list li:hover .article-relative{
	display: block;
}

.article-relative .op {
	float: right;
}
.article-relative .op span {
	display: inline-block;
	height: 12px;
	line-height: 10px;
	padding-left: 14px;
	text-decoration: none;
	background-image: url(images/ifxoxo-sprites.png);
	background-repeat: no-repeat;
}
.article-relative .date, .article-relative .op span {
	color: #fdfdfd;
}
.article-relative .op a:hover {
	color: #ff5f3e;
}

.article-relative .op .comment {
	margin-left: 10px;
}
.article-relative .like a {
	background-position: 0 0;
}
.article-relative .comment a {
	background-position: 0 -35px;
}
.article-relative .like a:hover {
	background-position: 0 -18px;
}
.article-relative .comment a:hover {
	background-position: 0 -53px;
}


/* =article tag 
-------------------------*/
#content .all-tag{
	text-align: center;
	/*width: 100px;*/
}
#all-tag{
	text-align: center;
	width: 50%;
	height: 200px;
}
#content .articles-tag {
	float: left;
	clear: left;
	background-color: #fdfdfd;
	padding: 0 20px;
	margin-right: 40px;
	margin-bottom: 40px;
/*	width: 100%;*/

}
.articles-tag .tag{
	height: 30px;
	display: block;
	background-color: #6abd78;
	width: 70px;
	margin-left: -25px;
	padding: 0 10px;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}
.articles-tag .article-list li{
	background-color: #f4f4f4;
}
/* = Footer
----------------------------------------------- */
.footer-container {
	text-align: center;
	margin: 22px 0;
}


/* = Back To Top
----------------------------------------------- */
#back-to-top {
	position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 150;
	height: 100%;
	display: none;
}

#back-to-top a {
	display: inline-block;
	height: 41px;
	width: 41px;
	bottom: 50px;
	right: 0;
	cursor: pointer;
	position: absolute;
	background: #cccccc url(images/ifxoxo-sprites.png) -43px -268px no-repeat;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}
#back-to-top a:hover {
	background-color: #6abd78;
}


/*=jqcloud
---------------------------------------------*/
/* fonts */
div.jqcloud {
  /*font-family: "Helvetica", "Arial", sans-serif;*/
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 175%; }
div.jqcloud span.w1 { font-size: 150%; }

/* colors */

div.jqcloud { color:#6abd78; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #006600; }
div.jqcloud span.w10 { color: #009900; }
div.jqcloud span.w9 { color: #009966; }
div.jqcloud span.w8 { color: #6abd78; }
div.jqcloud span.w7 { color: #36B436; }
div.jqcloud span.w6 { color: #339900; }
div.jqcloud span.w5 { color: #669933; }
div.jqcloud span.w4 { color: #66cc00; }
div.jqcloud span.w3 { color: #66cc99; }
div.jqcloud span.w2 { color: #6abd78; }
div.jqcloud span.w1 { color: #00cc00; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }